body {
    background-color: rgb(98, 115, 129);
    color: #fff;
    font-family: Arial;
    padding: 40px 0;
}

h1 {
    font-size: 36px;
}

h2 {
    font-size: 28px;
}

span {
    color: grey;
}

img {
    width: 150px;
    height: 150px;
    margin: 100px;
    border: 10px solid grey;
    padding: 15px;
}

menu {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    padding: 10px 60px 20px 60px;
}

section,
header {
    padding: 10px 60px 20px 60px;
    background-color: rgb(10, 240, 221);
    width: 960px;
    margin: 0 auto;
}